Repository sgdevcamp2022/jikji, pull requests merged in 2023-02, with the labels that each got.

#8 [Feature/BE] Content의 기능을 구현한다.
  backend/content-command/build.gradle
  backend/content-command/src/main/java/com/jikji/contentcommand/config/KafkaProducerConfig.java
  backend/content-command/src/main/java/com/jikji/contentcommand/controller/ContentCommandController.java
  backend/content-command/src/main/java/com/jikji/contentcommand/domain/Content.java
  backend/content-command/src/main/java/com/jikji/contentcommand/domain/ImageUrl.java
  backend/content-command/src/main/java/com/jikji/contentcommand/dto/message/ContentKafkaMessage.java
  backend/content-command/src/main/java/com/jikji/contentcommand/dto/request/ContentUpdateRequest.java
  backend/content-command/src/main/java/com/jikji/contentcommand/exception/ContentNotFoundException.java
  backend/content-command/src/main/java/com/jikji/contentcommand/service/ContentCommandService.java
  backend/content-command/src/main/java/com/jikji/contentcommand/service/ContentCommandServiceImpl.java
  backend/content-command/src/main/java/com/jikji/contentcommand/util/KafkaTopic.java
  backend/content-command/src/main/resources/application-test.yml
  backend/content-command/src/test/java/com/jikji/contentcommand/controller/ContentCommandControllerTest.java
  backend/content-command/src/test/java/com/jikji/contentcommand/service/ContentCommandServiceTest.java
  backend/gateway-service/src/main/resources/application.yml
Labels: 💻 back-end, 👩🏻‍💻 feature

#22 [Feature/BE] follower server 데모버전 구현
  backend/follow-service/.gitignore
  backend/follow-service/.mvn/wrapper/MavenWrapperDownloader.java
  backend/follow-service/.mvn/wrapper/maven-wrapper.jar
  backend/follow-service/.mvn/wrapper/maven-wrapper.properties
  backend/follow-service/README.md
  backend/follow-service/mvnw
  backend/follow-service/mvnw.cmd
  backend/follow-service/pom.xml
  backend/follow-service/src/main/java/com/example/neo4j/DatabaseConfig.java
  backend/follow-service/src/main/java/com/example/neo4j/Neo4jApplication.java
  backend/follow-service/src/main/java/com/example/neo4j/controller/RelationshipController.java
  backend/follow-service/src/main/java/com/example/neo4j/controller/UserController.java
  backend/follow-service/src/main/java/com/example/neo4j/dto/relationship/FollowDto.java
  backend/follow-service/src/main/java/com/example/neo4j/dto/user/UserDto.java
  backend/follow-service/src/main/java/com/example/neo4j/entity/User.java
  backend/follow-service/src/main/java/com/example/neo4j/repository/RelationshipRepository.java
  backend/follow-service/src/main/java/com/example/neo4j/repository/UserRepository.java
  backend/follow-service/src/main/java/com/example/neo4j/service/RelationshipService.java
  backend/follow-service/src/main/java/com/example/neo4j/service/UserService.java
  backend/follow-service/src/main/resources/application.yml
  backend/follow-service/src/test/java/com/example/neo4j/Neo4jApplicationTests.java
  backend/follow-service/src/test/java/com/example/neo4j/basic/repository/CRUDTest.java
Labels: 💻 back-end, 👩🏻‍💻 feature

#25 feat: 알림서버 초기버전
  backend/notification-server/.gitignore
  backend/notification-server/build.gradle
  backend/notification-server/frontend/.gitignore
  backend/notification-server/frontend/README.md
  backend/notification-server/frontend/package-lock.json
  backend/notification-server/frontend/package.json
  backend/notification-server/frontend/public/favicon.ico
  backend/notification-server/frontend/public/index.html
  backend/notification-server/frontend/public/logo192.png
  backend/notification-server/frontend/public/logo512.png
  backend/notification-server/frontend/public/manifest.json
  backend/notification-server/frontend/public/robots.txt
  backend/notification-server/frontend/src/App.js
  backend/notification-server/frontend/src/home/Home.js
  backend/notification-server/frontend/src/index.js
  backend/notification-server/frontend/src/test/Test.js
  backend/notification-server/gradlew
  backend/notification-server/gradlew.bat
  backend/notification-server/package-lock.json
  backend/notification-server/package.json
  backend/notification-server/settings.gradle
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/SgdevcampJikjiInstaCloneNotificationServerApplication.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/sse/NotificationService.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/sse/SseController.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/sse/repository/EmitterRepository.java
  backend/notification-server/src/main/resources/application.properties
  backend/notification-server/src/test/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/SgdevcampJikjiInstaCloneNotificationServerApplicationTests.java
  backend/notification-server/sse/NotificationService.java
Labels: 💻 back-end, 👩🏻‍💻 feature

#27 Feat/issue26
  backend/notification-server/build.gradle
  backend/notification-server/frontend/src/test/Test.js
  backend/notification-server/gradle/wrapper/gradle-wrapper.jar
  backend/notification-server/gradle/wrapper/gradle-wrapper.properties
  backend/notification-server/gradlew
  backend/notification-server/gradlew.bat
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/sse/NotificationService.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/sse/SseController.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/sse/domain/Notification.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/sse/dto/NotificationDto.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/sse/dto/NotificationResponse.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/sse/repository/EmitterRepository.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/sse/repository/NotificationRepository.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/sse/util/LocalDateTimeToArray.java
  backend/notification-server/src/main/resources/application.properties
Labels: 💻 back-end, 📂 database, 👩🏻‍💻 feature

#31 feat: eventSource 싱글톤 인스턴스 추가
  backend/notification-server/frontend/src/home/Home.js
  backend/notification-server/frontend/src/instance/EventSource.js
  backend/notification-server/frontend/src/test/Test.js
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/sse/NotificationService.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/sse/SseController.java
Labels: 💻 back-end, 🖥️ front-end, 👩🏻‍💻 feature

#33 Feat/issue20
  backend/media-server/.gitignore
  backend/media-server/build.gradle
  backend/media-server/gradle/wrapper/gradle-wrapper.jar
  backend/media-server/gradle/wrapper/gradle-wrapper.properties
  backend/media-server/gradlew
  backend/media-server/gradlew.bat
  backend/media-server/settings.gradle
  backend/media-server/src/main/java/com/jikji/mediaserver/MediaServerApplication.java
  backend/media-server/src/main/java/com/jikji/mediaserver/config/AwsConfig.java
  backend/media-server/src/main/java/com/jikji/mediaserver/controller/MediaController.java
  backend/media-server/src/main/java/com/jikji/mediaserver/dto/MediaDto.java
  backend/media-server/src/main/java/com/jikji/mediaserver/dto/MediaResponseData.java
  backend/media-server/src/main/java/com/jikji/mediaserver/dto/ResultCode.java
  backend/media-server/src/main/java/com/jikji/mediaserver/dto/ResultResponse.java
  backend/media-server/src/main/java/com/jikji/mediaserver/exception/CustomException.java
  backend/media-server/src/main/java/com/jikji/mediaserver/exception/ErrorCode.java
  backend/media-server/src/main/java/com/jikji/mediaserver/exception/ErrorResponse.java
  backend/media-server/src/main/java/com/jikji/mediaserver/exception/GlobalExceptionHandler.java
  backend/media-server/src/main/java/com/jikji/mediaserver/model/Media.java
  backend/media-server/src/main/java/com/jikji/mediaserver/model/MediaType.java
  backend/media-server/src/main/java/com/jikji/mediaserver/model/User.java
  backend/media-server/src/main/java/com/jikji/mediaserver/repository/MediaRepository.java
  backend/media-server/src/main/java/com/jikji/mediaserver/repository/UserRepository.java
  backend/media-server/src/main/java/com/jikji/mediaserver/service/MediaService.java
  backend/media-server/src/main/java/com/jikji/mediaserver/service/S3Service.java
  backend/media-server/src/main/java/com/jikji/mediaserver/util/MediaUtil.java
  backend/media-server/src/main/resources/1.jpg
  backend/media-server/src/main/resources/application.yml
  backend/media-server/src/main/resources/bootstrap.yml
  backend/media-server/src/test/java/com/jikji/mediaserver/MediaServerApplicationTests.java
Labels: 💻 back-end, 📂 database, 👩🏻‍💻 feature

#34 Feat/issue30
  frontend/feed-server/.gitignore
  frontend/feed-server/README.md
  frontend/feed-server/package-lock.json
  frontend/feed-server/package.json
  frontend/feed-server/public/favicon.ico
  frontend/feed-server/public/index.html
  frontend/feed-server/public/logo192.png
  frontend/feed-server/public/logo512.png
  frontend/feed-server/public/manifest.json
  frontend/feed-server/public/robots.txt
  frontend/feed-server/src/App.css
  frontend/feed-server/src/App.js
  frontend/feed-server/src/App.test.js
  frontend/feed-server/src/assets/Instagram_Logo_2016.png
  frontend/feed-server/src/assets/profile.svg
  frontend/feed-server/src/components/profile/Profile.js
  frontend/feed-server/src/components/profile/Profile.module.scss
  frontend/feed-server/src/components/sidebar/Sidebar.js
  frontend/feed-server/src/components/sidebar/SidebarItem.js
  frontend/feed-server/src/index.css
  frontend/feed-server/src/index.js
  frontend/feed-server/src/logo.svg
  frontend/feed-server/src/pages/Home.js
  frontend/feed-server/src/pages/message/Messages.js
  frontend/feed-server/src/pages/notification/Notification.js
  frontend/feed-server/src/pages/post/Create.js
  frontend/feed-server/src/pages/search/Search.js
  frontend/feed-server/src/pages/user/User.js
  frontend/feed-server/src/reportWebVitals.js
  frontend/feed-server/src/setupTests.js
Labels: 🖥️ front-end, 👩🏻‍💻 feature

#36 feat : 추가 accessToken/get-user-info API
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/jwt/controller/AccessTokenController.java
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/user/controller/UserController.java
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/user/dto/UserInfoDto.java
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/user/repository/UserRepository.java
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/user/service/UserService.java
Labels: 💻 back-end, 👩🏻‍💻 feature

#43 [Feature/BE] 검색 기능 구현
  backend/gateway-service/src/main/resources/application.yml
  backend/search-service/.gitignore
  backend/search-service/build.gradle
  backend/search-service/gradle/wrapper/gradle-wrapper.jar
  backend/search-service/gradle/wrapper/gradle-wrapper.properties
  backend/search-service/gradlew
  backend/search-service/gradlew.bat
  backend/search-service/settings.gradle
  backend/search-service/src/main/java/com/example/searchservice/SearchServiceApplication.java
  backend/search-service/src/main/java/com/example/searchservice/config/ElasticsearchConfig.java
  backend/search-service/src/main/java/com/example/searchservice/config/KafkaConsumerConfig.java
  backend/search-service/src/main/java/com/example/searchservice/controller/ContentController.java
  backend/search-service/src/main/java/com/example/searchservice/controller/SearchController.java
  backend/search-service/src/main/java/com/example/searchservice/domain/ContentIndex.java
  backend/search-service/src/main/java/com/example/searchservice/domain/UserIndex.java
  backend/search-service/src/main/java/com/example/searchservice/dto/UserInfoDto.java
  backend/search-service/src/main/java/com/example/searchservice/dto/response/ContentResponse.java
  backend/search-service/src/main/java/com/example/searchservice/dto/response/HashtagResponse.java
  backend/search-service/src/main/java/com/example/searchservice/dto/response/SearchResponse.java
  backend/search-service/src/main/java/com/example/searchservice/dto/response/UserResponse.java
  backend/search-service/src/main/java/com/example/searchservice/repository/ContentRepository.java
  backend/search-service/src/main/java/com/example/searchservice/repository/UserRepository.java
  backend/search-service/src/main/java/com/example/searchservice/service/ContentService.java
  backend/search-service/src/main/java/com/example/searchservice/service/UserKafkaConsumer.java
  backend/search-service/src/main/java/com/example/searchservice/service/UserService.java
  backend/search-service/src/main/resources/application-test.yml
  backend/search-service/src/main/resources/application.yml
  backend/search-service/src/main/resources/static/elastic/user-mapping.json
  backend/search-service/src/main/resources/static/elastic/user-setting.json
  backend/search-service/src/test/java/com/example/searchservice/SearchServiceApplicationTests.java
  backend/search-service/src/test/java/com/example/searchservice/controller/SearchControllerTest.java
  backend/search-service/src/test/java/com/example/searchservice/domain/content/controller/ContentControllerTest.java
  backend/search-service/src/test/java/com/example/searchservice/domain/content/service/ContentServiceTest.java
  backend/search-service/src/test/java/com/example/searchservice/domain/user/service/UserServiceTest.java
  backend/settings.gradle
Labels: 💻 back-end, 👩🏻‍💻 feature

#48 Feat : Comment Component 추가
  frontend/src/components/commentLikes/LikesLayout.js
  frontend/src/components/commentLikes/LikesLayout.module.scss
  frontend/src/components/commentLikes/LikesList.js
  frontend/src/components/commentLikes/LikesList.module.scss
  frontend/src/components/comments/Comment.js
  frontend/src/components/comments/Comment.module.scss
  frontend/src/components/comments/CommentList.js
  frontend/src/components/comments/CommentList.module.scss
  frontend/src/components/comments/Commentlayout.js
  frontend/src/components/comments/Commentlayout.module.scss
Labels: 🖥️ front-end, 👩🏻‍💻 feature

#52 [Fix/BE] user id 조회 수정
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/user/controller/UserController.java
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/user/repository/UserRepository.java
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/user/service/UserService.java
  backend/settings.gradle
Labels: 💻 back-end, ❕ hotfix

#50 feat: 추가 kafka, eureka 등록
  backend/notification-server/build.gradle
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/KafkaConsumerConfig.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/SgdevcampJikjiInstaCloneNotificationServerApplication.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/chat/ChatMessage.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/kafka/KafkaConsumer.java
  backend/notification-server/src/main/resources/application.properties
  backend/notification-server/src/main/resources/application.yml
Labels: 💻 back-end, 👩🏻‍💻 feature

#59 feat: 추가 auth-service kafka
  backend/auth-server/build.gradle
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/KafkaConsumerConfig.java
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/KafkaProducerConfig.java
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/SgdevcampJikjiInstaCloneAuthServerApplication.java
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/kafka/dto/UserEmail.java
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/kafka/dto/UserInfo.java
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/kafka/service/KafkaConsumer.java
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/kafka/service/KafkaProducer.java
  backend/auth-server/src/main/resources/application.properties
  backend/auth-server/src/main/resources/application.yml
  backend/gateway-service/src/main/resources/application.yml
Labels: 💻 back-end, 👩🏻‍💻 feature

#63 [Feature/BE] user 서버 수정, kafka 추가
  backend/auth-server/build.gradle
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/KafkaProducerConfig.java
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/user/dto/UserKafkaMessage.java
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/user/service/UserService.java
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/util/DateUtil.java
  backend/auth-server/src/main/resources/application.yml
  backend/gateway-service/src/main/resources/application.yml
Labels: 💻 back-end, 👩🏻‍💻 feature, ❕ hotfix

#60 [BE] follow service에 eureka, spring cloud 적용
  backend/follow-service/build.gradle
  backend/follow-service/gradle/wrapper/gradle-wrapper.jar
  backend/follow-service/gradle/wrapper/gradle-wrapper.properties
  backend/follow-service/gradlew
  backend/follow-service/gradlew.bat
  backend/follow-service/pom.xml
  backend/follow-service/settings.gradle
  backend/follow-service/src/main/java/com/example/neo4j/Neo4jApplication.java
  backend/follow-service/src/main/java/com/example/neo4j/controller/RelationshipController.java
  backend/follow-service/src/main/java/com/example/neo4j/controller/UserController.java
  backend/follow-service/src/main/resources/application.yml
  backend/gateway-service/src/main/resources/application.yml
  backend/settings.gradle
Labels: 💻 back-end, 👩🏻‍💻 feature

#54 [Feature/BE] Comment 서버를 Content 서버에 추가
  backend/content-command/build.gradle
  backend/content-command/src/main/java/com/jikji/contentcommand/controller/CommentCommandController.java
  backend/content-command/src/main/java/com/jikji/contentcommand/domain/Comment.java
  backend/content-command/src/main/java/com/jikji/contentcommand/domain/CommentLikes.java
  backend/content-command/src/main/java/com/jikji/contentcommand/domain/CommentMention.java
  backend/content-command/src/main/java/com/jikji/contentcommand/dto/message/CommentKafkaMessage.java
  backend/content-command/src/main/java/com/jikji/contentcommand/dto/message/CommentLikeKafkaMessage.java
  backend/content-command/src/main/java/com/jikji/contentcommand/dto/message/CommentMentionKafkaMessage.java
  backend/content-command/src/main/java/com/jikji/contentcommand/dto/request/CommentCreateDto.java
  backend/content-command/src/main/java/com/jikji/contentcommand/dto/request/CommentDto.java
  backend/content-command/src/main/java/com/jikji/contentcommand/dto/response/CommentResponseData.java
  backend/content-command/src/main/java/com/jikji/contentcommand/dto/response/ResultCode.java
  backend/content-command/src/main/java/com/jikji/contentcommand/dto/response/ResultResponse.java
  backend/content-command/src/main/java/com/jikji/contentcommand/exception/CustomException.java
  backend/content-command/src/main/java/com/jikji/contentcommand/exception/ErrorCode.java
  backend/content-command/src/main/java/com/jikji/contentcommand/exception/ErrorResponse.java
  backend/content-command/src/main/java/com/jikji/contentcommand/exception/GlobalExceptionHandler.java
  backend/content-command/src/main/java/com/jikji/contentcommand/repository/CommentLikesRepository.java
  backend/content-command/src/main/java/com/jikji/contentcommand/repository/CommentMentionRepository.java
  backend/content-command/src/main/java/com/jikji/contentcommand/repository/CommentRepository.java
  backend/content-command/src/main/java/com/jikji/contentcommand/service/CommentMentionService.java
  backend/content-command/src/main/java/com/jikji/contentcommand/service/CommentService.java
  backend/content-command/src/main/java/com/jikji/contentcommand/util/KafkaTopic.java
  backend/content-command/src/main/resources/application-local.yml
  backend/content-query/src/main/java/com/jikji/contentquery/controller/CommentController.java
  backend/content-query/src/main/java/com/jikji/contentquery/domain/Comment.java
  backend/content-query/src/main/java/com/jikji/contentquery/domain/CommentLikes.java
  backend/content-query/src/main/java/com/jikji/contentquery/domain/CommentMention.java
  backend/content-query/src/main/java/com/jikji/contentquery/dto/request/CommentDto.java
  backend/content-query/src/main/java/com/jikji/contentquery/dto/response/CommentResponseData.java
  backend/content-query/src/main/java/com/jikji/contentquery/dto/response/ResultCode.java
  backend/content-query/src/main/java/com/jikji/contentquery/dto/response/ResultResponse.java
  backend/content-query/src/main/java/com/jikji/contentquery/exception/CustomException.java
  backend/content-query/src/main/java/com/jikji/contentquery/exception/ErrorCode.java
  backend/content-query/src/main/java/com/jikji/contentquery/exception/ErrorResponse.java
  backend/content-query/src/main/java/com/jikji/contentquery/exception/GlobalExceptionHandler.java
  backend/content-query/src/main/java/com/jikji/contentquery/repository/CommentLikesRepository.java
  backend/content-query/src/main/java/com/jikji/contentquery/repository/CommentMentionRepository.java
  backend/content-query/src/main/java/com/jikji/contentquery/repository/CommentRepository.java
  backend/content-query/src/main/java/com/jikji/contentquery/service/CommentService.java
  backend/content-query/src/main/java/com/jikji/contentquery/service/ContentQueryServiceImpl.java
  backend/content-query/src/main/java/com/jikji/contentquery/service/KafkaCommentConsumer.java
  backend/content-query/src/main/java/com/jikji/contentquery/service/KafkaCommentLikeConsumer.java
  backend/content-query/src/main/java/com/jikji/contentquery/util/KafkaTopic.java
  backend/media-server/HELP.md
Labels: 💻 back-end, 📂 database, 👩🏻‍💻 feature

#66 [Feature/BE] content-query id 리스트 조회 추가
  backend/auth-server/build.gradle
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/kafkaconfig/KafkaProducerConfig.java
  backend/auth-server/src/main/resources/application.yml
  backend/content-query/src/main/java/com/jikji/contentquery/controller/ContentQueryController.java
  backend/content-query/src/main/java/com/jikji/contentquery/repository/ContentQueryRepository.java
  backend/content-query/src/main/java/com/jikji/contentquery/service/ContentQueryService.java
  backend/content-query/src/main/java/com/jikji/contentquery/service/ContentQueryServiceImpl.java
  backend/content-query/src/main/resources/application.yml
  backend/gateway-service/src/main/resources/application.yml
  backend/search-service/src/main/java/com/example/searchservice/domain/UserIndex.java
  backend/search-service/src/main/java/com/example/searchservice/dto/UserInfoDto.java
  backend/search-service/src/main/java/com/example/searchservice/dto/response/UserResponse.java
  backend/search-service/src/main/java/com/example/searchservice/service/UserKafkaConsumer.java
  backend/search-service/src/main/resources/static/elastic/user-mapping.json
Labels: 💻 back-end, 👩🏻‍💻 feature

#56 [FE] Notification 페이지 개발
  backend/content-command/src/main/resources/application-local.yml
  backend/content-query/src/main/resources/application.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/home/components/ItemBox/ItemBoxTop.css
  frontend/src/pages/notification/FontAwesome.js
  frontend/src/pages/notification/Loader.js
  frontend/src/pages/notification/Notification.js
  frontend/src/pages/notification/NotificationBox.css
  frontend/src/pages/notification/NotificationBox.js
  frontend/src/pages/notification/components/ItemBox/NotificationBoxMiddle.css
  frontend/src/pages/notification/components/ItemBox/NotificationBoxMiddle.js
Labels: 🖥️ front-end, 👩🏻‍💻 feature

#69 [Refactor/BE] 댓글 개수 가져오도록 수정
  backend/content-command/src/main/java/com/jikji/contentcommand/repository/CommentRepository.java
  backend/content-command/src/main/java/com/jikji/contentcommand/service/BookmarkCommandServiceImpl.java
Labels: 💻 back-end, ⚒️ refactoring

#72 feat: 사용자 정보 조회 로직 추가
  backend/chat-service/src/main/java/com/example/chatservice/client/UserFeignClient.java
  backend/chat-service/src/main/java/com/example/chatservice/service/ChatroomService.java
  backend/chat-service/src/main/resources/application.yml
  backend/gateway-service/src/main/resources/application.yml
Labels: 💻 back-end, 👩🏻‍💻 feature

#70 fix: 수정 user-service 에러 처리
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/KafkaProducerConfig.java
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/jwt/JwtTokenProvider.java
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/jwt/controller/AccessTokenController.java
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/kafkaconfig/KafkaProducerConfig.java
Labels: 💻 back-end, ❕ hotfix

#75 fix: 수정 kafka package
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/KafkaConsumerConfig.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/KafkaProducerConfig.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/chat/ChatMessage.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/kafka/KafkaConsumer.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/kafka/dto/ChatEmail.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/kafka/dto/UserInfo.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/kafka/service/KafkaConsumer.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/kafka/service/KafkaProducer.java
Labels: 💻 back-end, ❕ hotfix

#76 [Refactor/BE]: 불필요한 dto 제거
  backend/media-server/src/main/java/com/jikji/mediaserver/controller/MediaController.java
  backend/media-server/src/main/java/com/jikji/mediaserver/dto/request/MediaRequestDto.java
  backend/media-server/src/main/java/com/jikji/mediaserver/dto/response/MediaResponseData.java
  backend/media-server/src/main/java/com/jikji/mediaserver/dto/response/ResultCode.java
  backend/media-server/src/main/java/com/jikji/mediaserver/dto/response/ResultResponse.java
  backend/media-server/src/main/java/com/jikji/mediaserver/service/MediaService.java
  backend/media-server/src/main/java/com/jikji/mediaserver/service/S3Service.java
Labels: 💻 back-end, ⚒️ refactoring

#82 feat : content-slicing API (feed) 추가, infinity Scroll View 추가 구현
  backend/content-query/src/main/java/com/jikji/contentquery/controller/ContentQueryController.java
  backend/content-query/src/main/java/com/jikji/contentquery/repository/ContentQueryRepository.java
  backend/content-query/src/main/java/com/jikji/contentquery/service/ContentQueryService.java
  backend/content-query/src/main/java/com/jikji/contentquery/service/ContentQueryServiceImpl.java
  frontend/src/components/profile/Profile.js
  frontend/src/components/sidebar/Sidebar.js
  frontend/src/pages/home/Home.js
  frontend/src/pages/home/ItemBox.js
Labels: 💻 back-end, 🖥️ front-end, 👩🏻‍💻 feature

#83 [BE] follow 여부 조회 기능 구현
  backend/follow-service/src/main/java/com/example/neo4j/controller/RelationshipController.java
  backend/follow-service/src/main/java/com/example/neo4j/repository/RelationshipRepository.java
  backend/follow-service/src/main/java/com/example/neo4j/service/RelationshipService.java
Labels: 💻 back-end, 👩🏻‍💻 feature

#87 [BE, FE] Notification Server와 FE 연동
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/SgdevcampJikjiInstaCloneNotificationServerApplication.java
  frontend/src/pages/notification/Notification.js
  frontend/src/pages/notification/components/ItemBox/NotificationBoxMiddle.js
Labels: 💻 back-end, 🖥️ front-end, 👩🏻‍💻 feature

#88 [Feature/FE] 채팅 기능 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/sidebar/Sidebar.js
  frontend/src/pages/message/ChatRoom.js
  frontend/src/pages/message/ChatRoomList.js
  frontend/src/pages/message/Messages.js
Labels: 🖥️ front-end, 👩🏻‍💻 feature

#103 Feat/issue99
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/sse/SseController.java
  frontend/src/App.js
  frontend/src/components/sidebar/Sidebar.js
  frontend/src/index.js
  frontend/src/pages/follow/Follow.js
  frontend/src/pages/follow/FollowerBox.css
  frontend/src/pages/follow/FollowerBox.js
  frontend/src/pages/follow/FontAwesome.js
  frontend/src/pages/follow/Loader.js
  frontend/src/pages/follow/components/ItemBox/FollowerBoxMiddle.css
  frontend/src/pages/follow/components/ItemBox/FollowerBoxMiddle.js
Labels: 🖥️ front-end, 👩🏻‍💻 feature

#104 fix: backend 디렉토리에 포함된 react관련 파일 삭제
  backend/auth-server/package-lock.json
  backend/auth-server/package.json
  backend/notification-server/frontend/.gitignore
  backend/notification-server/frontend/README.md
  backend/notification-server/frontend/package-lock.json
  backend/notification-server/frontend/package.json
  backend/notification-server/frontend/public/favicon.ico
  backend/notification-server/frontend/public/index.html
  backend/notification-server/frontend/public/logo192.png
  backend/notification-server/frontend/public/logo512.png
  backend/notification-server/frontend/public/manifest.json
  backend/notification-server/frontend/public/robots.txt
  backend/notification-server/frontend/src/App.js
  backend/notification-server/frontend/src/home/Home.js
  backend/notification-server/frontend/src/index.js
  backend/notification-server/frontend/src/instance/EventSource.js
  backend/notification-server/frontend/src/test/Test.js
  backend/notification-server/package-lock.json
  backend/notification-server/package.json
Labels: ⚒️ refactoring, ❕ hotfix

#106 [Feature/BE] content save 트랜잭션 분리
  backend/content-command/src/main/java/com/jikji/contentcommand/controller/BookmarkCommandController.java
  backend/content-command/src/main/java/com/jikji/contentcommand/controller/CommentCommandController.java
  backend/content-command/src/main/java/com/jikji/contentcommand/controller/ContentCommandController.java
  backend/content-command/src/main/java/com/jikji/contentcommand/controller/LikeCommandController.java
  backend/content-command/src/main/java/com/jikji/contentcommand/dto/message/SavedContentMessage.java
  backend/content-command/src/main/java/com/jikji/contentcommand/service/comment/CommentMentionService.java
  backend/content-command/src/main/java/com/jikji/contentcommand/service/comment/CommentService.java
  backend/content-command/src/main/java/com/jikji/contentcommand/service/content/BookmarkCommandService.java
  backend/content-command/src/main/java/com/jikji/contentcommand/service/content/BookmarkCommandServiceImpl.java
  backend/content-command/src/main/java/com/jikji/contentcommand/service/content/ContentCommandService.java
  backend/content-command/src/main/java/com/jikji/contentcommand/service/content/ContentCommandServiceImpl.java
  backend/content-command/src/main/java/com/jikji/contentcommand/service/content/ContentSaver.java
  backend/content-command/src/main/java/com/jikji/contentcommand/service/content/LikeCommandService.java
  backend/content-command/src/main/java/com/jikji/contentcommand/service/content/LikeCommandServiceImpl.java
  backend/content-command/src/test/java/com/jikji/contentcommand/service/BookmarkCommandServiceTest.java
  backend/content-command/src/test/java/com/jikji/contentcommand/service/ContentCommandServiceTest.java
  backend/content-command/src/test/java/com/jikji/contentcommand/service/LikeCommandServiceTest.java
  backend/content-query/src/main/java/com/jikji/contentquery/dto/message/SavedContentMessage.java
  backend/content-query/src/main/java/com/jikji/contentquery/service/KafkaContentConsumer.java
Labels: 💻 back-end, ⚒️ refactoring, 👩🏻‍💻 feature

#101 feat: 추가 content-command kafka로 notification-service 통신
  backend/content-command/src/main/java/com/jikji/contentcommand/config/KafkaProducerConfig.java
  backend/content-command/src/main/java/com/jikji/contentcommand/controller/ContentCommandController.java
  backend/content-command/src/main/java/com/jikji/contentcommand/dto/message/NotificationMessage.java
  backend/content-command/src/main/java/com/jikji/contentcommand/util/KafkaProducer.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/kafka/service/KafkaConsumer.java
Labels: 💻 back-end, 👩🏻‍💻 feature

#108 [FE] Comment frontend api 연동
  backend/auth-server/src/main/resources/application.yml
  backend/content-command/src/main/java/com/jikji/contentcommand/service/comment/CommentService.java
  backend/content-command/src/main/java/com/jikji/contentcommand/util/KafkaTopic.java
  backend/content-command/src/main/resources/application-local.yml
  backend/content-query/src/main/java/com/jikji/contentquery/service/KafkaCommentConsumer.java
  backend/content-query/src/main/java/com/jikji/contentquery/service/KafkaCommentLikeConsumer.java
  backend/content-query/src/main/java/com/jikji/contentquery/util/KafkaTopic.java
  frontend/src/components/action/authUser.js
  frontend/src/components/commentLikes/LikesLayout.js
  frontend/src/components/comments/Comment.js
  frontend/src/components/comments/CommentList.js
  frontend/src/components/comments/Commentlayout.js
  frontend/src/pages/home/ItemBox.js
  frontend/src/pages/home/ItemBox.module.scss
  frontend/src/pages/home/components/ItemBox/ItemBoxBottom.js
Labels: 💻 back-end, 🖥️ front-end, 👩🏻‍💻 feature

#110 refactor: 카프카 전송 트랜잭션에 포함시켜 데이터 불일치 방지
  backend/content-command/src/main/java/com/jikji/contentcommand/service/content/ContentCommandService.java
  backend/content-command/src/main/java/com/jikji/contentcommand/service/content/ContentCommandServiceImpl.java
  backend/content-command/src/main/java/com/jikji/contentcommand/service/content/ContentSaver.java
Labels: 💻 back-end, ❕ hotfix

#113 [FE] follow 페이지와 local storage 연동
  backend/auth-server/gradle/wrapper/gradle-wrapper.jar
  backend/auth-server/gradle/wrapper/gradle-wrapper.properties
  backend/auth-server/gradlew
  backend/auth-server/gradlew.bat
  backend/auth-server/src/main/resources/application.yml
  backend/content-command/src/main/java/com/jikji/contentcommand/controller/ContentCommandController.java
  backend/content-command/src/main/resources/application-local.yml
  docs/JIKJI PMP 문서.pdf
  docs/JIKJI 아키텍쳐.pdf
  docs/JIKJI 중간발표.pdf
  frontend/src/components/action/loginUser.js
  frontend/src/components/instance/Header.js
  frontend/src/pages/follow/Follow.js
Labels: 🖥️ front-end, 👩🏻‍💻 feature

#115 feat: 누락된 파일(likeRequest, MessageLike) 추가
  backend/chat-service/src/main/java/com/example/chatservice/domain/MessageLike.java
  backend/chat-service/src/main/java/com/example/chatservice/dto/request/LikeRequest.java
Labels: 💻 back-end, ❕ hotfix

#117 [Fix/BE] 컬럼 명 변경
  backend/search-service/src/main/java/com/example/searchservice/domain/ContentIndex.java
  backend/search-service/src/main/java/com/example/searchservice/domain/UserIndex.java
  backend/search-service/src/main/java/com/example/searchservice/repository/ContentRepository.java
  backend/search-service/src/main/java/com/example/searchservice/repository/UserRepository.java
  backend/search-service/src/main/resources/static/elastic/user-mapping.json
Labels: 💻 back-end, ❕ hotfix

#119 feat: 추가 notification-service frontend와 연동
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/kafka/service/KafkaConsumer.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/sse/NotificationService.java
  backend/notification-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_notification_server/sse/SseController.java
  frontend/src/components/action/loginUser.js
  frontend/src/components/action/mailAuthUser.js
  frontend/src/components/instance/EventSource.js
  frontend/src/pages/home/Home.js
  frontend/src/pages/notification/Notification.js
  frontend/src/pages/user/User.js
  package-lock.json
  package.json
Labels: 💻 back-end, 🖥️ front-end, 👩🏻‍💻 feature

#120 [FE] follow 페이지와 local storage 연동 오류 해결 및 Notification 페이지 디자인 수정
  backend/auth-server/src/main/java/instagram_clone/sgdevcamp_jikji_insta_clone_auth_server/user/controller/UserController.java
  backend/auth-server/src/main/resources/application.yml
  frontend/src/pages/follow/Follow.js
  frontend/src/pages/follow/FollowerBox.js
  frontend/src/pages/follow/components/ItemBox/FollowerBoxMiddle.css
  frontend/src/pages/follow/components/ItemBox/FollowerBoxMiddle.js
  frontend/src/pages/notification/components/ItemBox/NotificationBoxMiddle.css
  frontend/src/pages/notification/components/ItemBox/NotificationBoxMiddle.js
Labels: 🖥️ front-end, 👩🏻‍💻 feature
